.vertical-timeline-element--education{
    color: whitesmoke
}

.color{
    color: white
}


.search-input1{
    padding-right: 5%;
    padding-top:2.5%;
    margin-left: 40%;
    width: 120%;
}

body{
    overflow-x: hidden;
}

@media (min-width: 300px) and (max-width: 575px){
    body{
        overflow-x: hidden;
    }
    
  img{
        width: 100%;
        height: auto;
    }
    .search-input1{
        padding-right: 5%;
        padding-top:2.5%;
        margin-left: 35%;
        width: 200%;
    }

    .vertical-timeline-element-content {
        width: 270px;
    }

  

}
@media (min-width: 576px) and (max-width: 768px){

    

    .search-input1{
        padding-right: 5%;
        padding-top:2.5%;
        margin-left: 35%;
        width: 250%;
    }
    img{
        width: 100%;
        height: auto;
    }
    .vertical-timeline-element-content {
        width: 480px;
    }

   

}
@media (min-width: 769px) and (max-width: 991px){

    img{
        width: 100%;
        height: auto;
    }
    .search-input1{
        padding-right: 5%;
        padding-top:2.5%;
        margin-left: 35%;
        width: 250%;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    img{
        width: 100%;
        height: auto;
    }
}
