.vertical-timeline-element--education{
    color: whitesmoke
}

.color{
    color: white
}


.search-input{
    display: flex;
    justify-content: end;
    padding-right: 5%;
    padding-top:2.5%;
    height: 50% !important;
    margin-left: 10%;
}

@media only screen and (max-width:575px){
  img{
        width: 50%;
        height: auto;
    }
}
@media (min-width: 576px) and (max-width: 768px){}
@media (min-width: 769px) and (max-width: 991px){}
@media (min-width: 992px) and (max-width: 1199px){}
