.home {
  width: 100%;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #dfe1ee;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #e9d35b;
  height: 50px;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #959aaf;
}

.skills .list {
  list-style: none;
  width: 70%;
}

.list span {
  font-size: 18px;

}

.cuadrotexto{
  display: flex;
  flex-direction: column;
  vertical-align: top;
  margin-left: 70px;
  background-color: #FAE7F3;
  width: 500px;
  height: auto;
  line-height: 1.5;
  border-radius: 5px;
  color: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  margin-right: 40px;
  margin-top: 20px;
  padding: 15px;
  text-align: justify;
  padding-left:20px;
  padding-right: 4%;
}

.cuadrotexto3{
  display: flex;
  flex-direction: column;
  vertical-align: top;
  margin-left: 43px;
  background-color: #FFEBB2;
  width: 580px;
  height: auto;
  line-height: 1.5;
  border-radius: 5px;
  color: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  margin-right: 40px;
  margin-top: 20px;
  padding: 15px;
  text-align: justify;
  padding-left:20px;
  padding-right: 4%;
}




.general{
  width: 50%;
  height: auto;
  background-color: #FAE7F3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 1%;
  margin-top: 2%;

}

a {
  text-decoration: none;
}


.search-input{
  width: 60%;
  padding-left: 45%;

}



@media (min-width: 300px) and (max-width: 575px){
  .about {
    width: 100%;
    height: calc(10vh - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }

  
.general{
  
  width: 330px;
  margin-left: 360px;

}

  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #e9d35b;
    height: 10px;
  }
  
.about .prompt {
  width: 20%;
  font-size: 30px;
}
.prompt svg {
  font-size: 20px;
  margin: 5px;
  color: white;
}
.titulo_{
  font-size: 15px;
}

.skills {
  font-size: 16px;
  width: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #959aaf;
}

.skills .list {
  list-style: none;
  width: 20%;
}

.list span {
  font-size: 5px;

}

.search-input{
  width: 60%;
  padding-left: 48%;
  margin-left:30px;
  padding-bottom: 10px;
}

.cuadrotexto{
  display: flex;
  flex-direction: column;
  vertical-align: top;
  margin-left: 18px;
  background-color: #FAE7F3;
  width: 250px;
  height: auto;
  line-height: 1.5;
  border-radius: 5px;
  color: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  margin-right: 15px;
  margin-top: 12px;
  padding-right: 8px;
  text-align: justify;
  padding-left:20px;
  padding-right: 25px;
  padding-top: 15px;
  font-size: 10px;
}

.cuadrotexto3{
  display: flex;
  flex-direction: column;
  vertical-align: top;
  background-color: #FFEBB2;
  width: 250px;
  padding: 5px;
  margin-left: 360px;
  margin-bottom: 12px;
  padding: 10px;
  height: auto;
  line-height: 1.5;
  border-radius: 5px;
  color: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  text-align: justify;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.prompt{
  display: none;
}
}


@media (min-width: 576px) and (max-width: 672px) {
  .about {
    width: 100%;
    height: calc(50vh - 18px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }
    .about h2{
      font-size: 35px;
      margin-top: 1px;
      height: 30px;
      margin-top: 5px;
    }

    .titulo_{
      font-size: 20px;
    }

    .prompt svg {
      font-size: 20px;
      margin: 5px;
      color: white;
    }

    .search-input{
      width: 60%;
      margin-right:360px;
    }

  .cuadrotexto{
    display: flex;
    flex-direction: column;
    vertical-align: top;
    background-color: #FAE7F3;
    width: 350px;
    height: auto;
    line-height: 1.5;
    border-radius: 5px;
    color: black;
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    margin: 25px;
    margin-top: 10px;
    padding-right: 5px;
    text-align: justify;
    padding-left:25px;
    padding-right: 25px;
    font-size: 15px;
  }

  .cuadrotexto3{
    margin-left: 20px;
    width: 75%;
    margin-right: 20px;
    margin-top: 20px;
    padding: 15px;
    padding:20px;
    font-size: 16px;
    background-color: #FFEBB2;
  }
 div .general{
  width: 450px;
 }

}


@media (min-width: 673px) and (max-width: 768px) {
  .about {
    width: 100%;
    height: calc(10vh - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }

  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #e9d35b;
    height: 10px;
  }
  
.about .prompt {
  width: 20%;
  font-size: 30px;
}
.prompt svg {
  font-size: 20px;
  margin: 5px;
  color: white;
}
.titulo_{
  font-size: 10px;
}

.skills {
  font-size: 16px;
  width: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #959aaf;
}

.skills .list {
  list-style: none;
  width: 20%;
}

.list span {
  font-size: 5px;

}

.search-input{
  width: 60%;
  padding-left: 48%;
  margin-left:70px;
}

.cuadrotexto{
  display: flex;
  flex-direction: column;
  vertical-align: top;
  background-color: #FAE7F3;
  width: 530px;
  height: auto;
  line-height: 1.5;
  border-radius: 5px;
  color: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 10px;
  padding-right: 8px;
  text-align: justify;
  padding-left:25px;
  padding-right: 25px;
  font-size: 15px;
}


.cuadrotexto3{
  margin-left: 680px;
  width: 500px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 15px;
  padding:20px;
  font-size: 16px;
  background-color: #FFEBB2;
}

.general{
  width: 15%;
  height: auto;
  background-color: #FAE7F3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 1%;
  margin-top: 2%;

}

a {
  text-decoration: none;
}

.prompt{
  display: none;
}

}

@media (min-width: 769px) and (max-width: 991px) {
  .about {
    width: 80%;
    height: calc(10vh - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }

  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #e9d35b;
    height: 10px;
  }
  
.about .prompt {
  width: 20%;
  font-size: 30px;
}
.prompt svg {
  font-size: 20px;
  margin: 5px;
  color: white;
}
.titulo_{
  font-size: 10px;
}

.skills {
  font-size: 16px;
  width: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #959aaf;
}

.skills .list {
  list-style: none;
  width: 20%;
}

.list span {
  font-size: 5px;

}

.search-input{
  width: 60%;
  padding-left: 48%;
  margin-left:70px;
}

.cuadrotexto{
  background-color: #FAE7F3;
  width: 620px !important;
  height: auto;
  line-height: 1.5;
  border-radius: 5px;
  color: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  margin-left: 35px;
  margin-top: 10px;
  padding-right: 18px;
  text-align: justify;
  padding-left:25px;
  padding-right: 25px;
  font-size: 16px;
}

.cuadrotexto3{
  margin-left: 760px;
  width: 550px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 15px;
  padding:20px;
  font-size: 16px;
  background-color: #FFEBB2;
}


.general{
  width: 15%;
  height: auto;
  background-color: #FAE7F3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 1%;
  margin-top: 2%;

}

a {
  text-decoration: none;
}

.prompt{
  display: none;
}
}


@media (min-width: 992px) and (max-width: 1199px) {
  .about {
    width: 80%;
    height: calc(10vh - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }

  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #e9d35b;
    height: 10px;
  }
  
.about .prompt {
  width: 20%;
  font-size: 30px;
}
.prompt svg {
  font-size: 20px;
  margin: 5px;
  color: white;
}
.titulo_{
  font-size: 10px;
}

.skills {
  font-size: 16px;
  width: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #959aaf;
}

.skills .list {
  list-style: none;
  width: 20%;
}

.list span {
  font-size: 5px;

}

.search-input{
  width: 60%;
  padding-left: 48%;
  margin-left:70px;
}

.cuadrotexto{
  display: flex;
  flex-direction: column;
  vertical-align: top;
  background-color: #FAE7F3;
  width: 850px;
  height: auto;
  line-height: 1.5;
  border-radius: 5px;
  color: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  margin-left: 40px;
  margin-right: 45px;
  margin-top: 10px;
  padding-right: 8px;
  text-align: justify;
  padding-left:25px;
  padding-right: 25px;
  font-size: 15px;
}

.cuadrotexto3{
  background-color: #FFEBB2;
  width: 850px;
  padding: 15px;
  margin-left: 980px;
  margin-right: 5px;
  height: auto;
  line-height: 1.5;
  border-radius: 5px;
  color: black;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  text-align: justify;
  font-size: 15px;
}

.general{
  width: 15%;
  height: auto;
  background-color: #FAE7F3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 1%;
  margin-top: 2%;

}

a {
  text-decoration: none;
}

.prompt{
  display: none;
}
}